.sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  height: 10vh;

  .logo {
    margin-left: 1rem;
    color: #fff;
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 1px;
  }

  .item {
    display: flex;

    .ul {
      display: flex;
      margin: 25px;

      li {
        margin: 0 1rem;

        a {
          text-decoration: none;
          color: #fff;
          font-weight: bolder;
            font-size: 20px;
        }
      }
    }
  }
}